.git
.gitignore

node_modules
vendor

.env
.env.*
!.env.example

public/build

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

Dockerfile
docker-compose.yml
docker-compose.yaml

npm-debug.log
yarn-debug.log
yarn-error.log

.idea
.vscode

.phpunit.result.cache